/* FONTE */
a {
    color: #f3b735;
    text-decoration: none;
    font-weight: bold;
    
   }
/* FONTE */

/* BODY */
body{
    background-color:rgb(163, 138, 92);
}
/* BODY */

/* HEADER */

.header{
    background-color: rgb(51, 45, 33);
    padding: 0px;
    width: 100%;
    text-align: center;
}

.logo_menu{
    width: 500px;
    margin-left: auto;
    margin-right: auto;;
    display: block;
}

.itens_menu{
    margin-top: 20px;
    text-align: center;
}
/* HEADER */

/* BANNER UM */
.margem_banner_um{
    margin-top: 20px;
}

.tamanho_banner_um{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* BANNER UM */

/* PRINCIPAL */
.alinhamento_delivery_e_contato{
    width: 90%;
    height: 500px;
    background-color: yellow;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

#delivery_home{
    background-color: lightgrey;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.imagem_entregador{
    height: 85%;
    width: 100%;
}

#contato_home{
    background-color: lightgrey;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    justify-content: right;
    text-align: center;
}

.imagem_suporte{
    height: 85%;
    width: 100%;
}

#texto_link{
    font-size: 30pt;
    color: darkgoldenrod;
    text-decoration:underline;
}

/* PRINCIPAL */



/* BANNER DOIS */

    .margem_banner_dois{
        margin-top: 20px;
    }

    .tamanho_banner_dois{
        width: 1322px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
/* BANNER DOIS */


/* FOOTER */
    .margem_linha_footer{
        margin-top: 5px;
    }

    .margem_footer{
        margin-top: 10px;
    }

    .texto_footer{
        text-align: center;
        font-weight: 100;
        font-size: 12pt;
    }

/* FOOTER */