/* FONTE */
a {
    color: #f3b735;
    text-decoration: none;
    font-weight: bold;
    
   }
/* FONTE */

/* FUNDO SITE */
.fundofixo{
    background: url('../images/pizzaria.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
/* FUNDO SITE */

/* HEADER */

.header{
    background-color: rgb(51, 45, 33);
    width: 100%;
}

.alinhador{
    display:flex;
    justify-content: center;
}

.itens_menu{
    margin-top: 20px;
    text-align: center;
}
/* HEADER */


/* PRINCIPAL */
.alinhamento_delivery_e_contato{
    width: 100%;
    height: 500px;
    background-color: yellow;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content:space-around;
}

#delivery_home{
    background-color: lightgrey;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.imagens{
    height: 85%;
    width: 70%;
}

#contato_home{
    background-color: lightgrey;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    justify-content: right;
    text-align: center;
}

#texto_link{
    font-size: 30pt;
    color: darkgoldenrod;
    text-decoration:underline;
}

/* PRINCIPAL */



/* BANNER DOIS */

    .margem_banner_dois{
        margin-top: 20px;
    }

    .tamanho_banner_dois{
        width: 1322px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
/* BANNER DOIS */


/* FOOTER */
    .margem_linha_footer{
        margin-top: 5px;
    }

    .margem_footer{
        margin-top: 10px;
    }

    .texto_footer{
        text-align: center;
        font-weight: 100;
        font-size: 12pt;
        color: white;
    }

/* FOOTER */