/* FONTE */
a {
    color: #f3b735;
    text-decoration: none;
    font-weight: bold;
    
   }
/* FONTE */

/* USO GERAL */

.texto_link{
    font-size: 30pt;
    color: darkgoldenrod;
    text-decoration:underline;
    text-align: center;
    width: 100%;
}

/* USO GERAL */

/* FUNDO SITE */
.fundofixo{
    background: url('../images/pizzaria.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
/* FUNDO SITE */

/* HEADER */

.header{
    background-color: rgb(51, 45, 33);
    width: 100%;
}

.alinhador{
    display:flex;
    justify-content: center;
}

.itens_menu{
    margin-top: 20px;
    text-align: center;
}
/* HEADER */


/* INÍCIO DELIVERY E CONTATO */
.alinhamento_delivery_e_contato{
    width: 80%;
    height: 400px;
    background-color: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

#delivery_home{
    background-color: lightgrey;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.imagens{
    height: 100%;
    width: 100%;
}

#contato_home{
    background-color: lightgrey;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    display: inline-block;
    justify-content: right;
    text-align: center;
}

#texto_embaixo{
    display: block;
    vertical-align: bottom;
}

/* FIM DELIVERY E CONTATO */

/* INÍCIO PRODUTOS */
.alinhamento_produtos{
    width: 72%;
    height: 400px;
    background-color: red;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#produtos_home{
    background-color: lightgrey;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.imagem_produtos{
    width: 100%;
    height: 100%;
}
/* FIM PRODUTOS */

/* FOOTER */

    .fundo_footer{
        background-color: rgb(51, 45, 33);;
    }

    .margem_linha_footer{
        margin-top: 5px;
        justify-content: center;

    }

    .margem_footer{
        margin-top: 10px;
    }

    .texto_footer{
        text-align: center;
        font-weight: 100;
        font-size: 12pt;
        color: white;
    }

/* FOOTER */